body {
  @extend %my-container;
  background-color: #ebebeb;
  .index-header {
    margin-top: 25px;
    nav {
      ul {
        @include goFlex(row, space-around, center);
        width: 60vw;

        @media (max-width: 900px) {
          width: 95vw;
        }

        @media (max-width: 500px) {
          display: none;
        }

        li {
          @include robotoFont(Roboto, 700, 18px, 12px);
        }
      }

      .burger-div {
        display: none;
        width: 90vw;

        img {
          width: fit-content;
          margin-left: 20px;
        }
        .burger-icon {
          @include goFlex(column, space-between);

          div {
            height: 5px;
            width: 30px;
            border-radius: 5px;
            background-color: gray;
          }
        }

        @media (max-width: 500px) {
          @include goFlex(row, space-between);
        }
      }
    }
  }

  .index-main {
    h1 {
      @include robotoFont(Roboto, 700, 29px, 28px);
      margin: 50px;

      @media (max-width: 740px) {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 50px 0px;
      }
    }

    .index-section1 {
      @include goFlex(row, space-evenly, center);

      .dolore1 {
        margin-bottom: 50px;
        @include goFlex(column);

        .top {
          background-image: url(../images/beach.svg);
          @include doloreDiv(350px, 186px);
          border-radius: 10px 10px 0px 0px;

          h3 {
            @include robotoFont(roboto, 700, 22px, 23px);
            color: #ffffff;
            margin-top: 30px;
            margin-left: 40px;
          }
        }

        .bottom {
          @include doloreDiv(350px, 171px);
          background-color: #ffffff;
          border-radius: 0px 0px 10px 10px;

          .p1 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 65px;
            margin-left: 37px;
          }

          .p2 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 15px;
            margin-left: 37px;

            //
            ::before {
              content: "<i class=" fa-regular fa-clock "></i>";
              background-color: black;
              width: 60px;
              height: 50px;
            }
            // ეს აიქონი ვერ შემოვიტანე ბეფორე ტეგით
          }
        }
      }

      .dolore2 {
        margin-bottom: 50px;
        @include goFlex(column);

        .top {
          background-image: url(../images/sea.svg);
          @include doloreDiv(350px, 186px);
          border-radius: 10px 10px 0px 0px;

          h3 {
            @include robotoFont(roboto, 700, 22px, 23px);
            color: #ffffff;
            margin-top: 30px;
            margin-left: 40px;
          }
        }

        .bottom {
          @include doloreDiv(350px, 171px);
          background-color: #ffffff;
          border-radius: 0px 0px 10px 10px;

          .p1 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 65px;
            margin-left: 37px;
          }

          .p2 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 15px;
            margin-left: 37px;
          }
        }
      }

      .dolore3 {
        margin-bottom: 50px;
        @include goFlex(column);

        .top {
          background-image: url(../images/iceland.svg);
          @include doloreDiv(350px, 186px);
          border-radius: 10px 10px 0px 0px;

          h3 {
            @include robotoFont(roboto, 700, 22px, 23px);
            color: #ffffff;
            margin-top: 30px;
            margin-left: 40px;
          }
        }

        .bottom {
          @include doloreDiv(350px, 171px);
          background-color: #ffffff;
          border-radius: 0px 0px 10px 10px;

          .p1 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 65px;
            margin-left: 37px;
          }

          .p2 {
            @include robotoFont(Roboto, 700, 12px, 12px);
            color: #8a8787;
            margin-top: 15px;
            margin-left: 37px;
          }
        }
      }
    }

    .index-section2 {
      width: 95%;
      margin-left: 2vw;
      h1 {
        @include robotoFont(Roboto, 700, 29px, 28px);
        margin: 50px 0px;
      }

      .index-images {
        display: flex;

        @media (max-width: 1100px) {
          flex-direction: column;
        }

        .left {
          @include goFlex(column, space-between, stretch, wrap);
          margin-right: 5vw;
          height: 100vh;

          img {
            width: 100%;
          }

          @media (max-width: 1100px) {
            flex-wrap: nowrap;
            height: 115vw;
            margin-bottom: 60px;
          }
        }

        .right {
          @include goFlex(column, space-between, stretch, wrap);

          img {
            width: 100%;
          }

          @media (max-width: 1100px) {
            flex-wrap: nowrap;
            height: 180vw;

            img {
              width: 95%;
            }
          }
        }
      }
    }
  }

  .index-footer {
    @include goFlex(row, space-around);
    width: 100%;
    height: 200px;
    background-color: #222d3f;
    margin-top: 50px;

    .footer-ul {
      @include goFlex(row, space-around, center);
      width: 500px;

      ul {
        @include goFlex(column, space-around);

        li {
          @include robotoFont(Roboto, 700, 12px, 30px);
          color: #818687;
        }
      }
    }

    p {
      @include robotoFont(Roboto, 400, 12px, 14px);
      color: #ffffff;
      margin-top: 40px;
    }
  }
}
